{% extends "templates/base3.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<body>
    {% include "templates/header.html"%}
    <main>
        {% include "templates/navbar.html" %}
        <div class="center-part">
            <form method="post" class="article-form">
                {% csrf_token %}
                <!--<input type="text" id="title" placeholder="Напишите название статьи.">
                <textarea name="article-text" id="article-textholder" cols="1" rows="1"
                placeholder="Напишите что-нибудь"></textarea>
                <label for="imageSaver" id="upload-photo">Загрузить фон</label> -->
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                    <input type="file" placeholder="Прикрепите картинку" id="imageSaver"></button>
                    <div class="choice">
                        <button type="submit" id="submission">Опубликовать</button>
                        <button type="button" onClick="history.back(-2)" id="back">Назад</button>
                    </div>
            </form>
        </div>
        <div class="right-side">
            <p>Напишите о беспокоящих вас проблемах экологии и гендерного равенства, которые по вашему мнению, нуждаются в решении.</p>
        </div>
    </main>
</body>
{% endblock content %}