{% load static %}
<header>
    <div class="inner-header">
        <!--<div class="navigation">
            <ul class="ulli">
                <li><img src=""></li>
                <li><img src=""></li>
                <li><img src=""></li>
            </ul>
        </div>-->
        <div class="logo-container">
            <img src="">
        </div>
        <div class="profile">
            <a href="{% url 'user-posts' user.username %}"><img id="painintheass" src="{% static 'images/ECO_AVATAR_MAN.svg' %}"></a>
        </div>
    </div>
</header>