<div class="navbar">
    <a href='profile.html'><div class="icon-and-image">
        <img src="{% static 'images/person_icon.png' %}">
        <p>Моя страница</p>
    </div>
    </a>
    <a href='' class="trigger">
    <div class="icon-and-image">
        <img src="{% static 'images/lenta_icon.png' %}">
        <p>Лента</p>
    </div>
    </a>
    <a href='' class="trigger">
    <div class="icon-and-image">
        <img src="">
        <p>События</p>
    </div>
    </a>
    <a href='' class="trigger">
    <div class="icon-and-image">
        <img src="{% static 'images/contract-icon.png' %}">
        <p>Статьи</p>
    </div>
    </a>
    <a href='' class="trigger">
    <div class="icon-and-image">
        <img src="{% static 'images/gps-icon.png' %}">
        <p>Карта</p>
    </div>
    </a>
</div>