{% extends "templates/base.html" %}

{% load static %}

{% block content %}
{% include "templates/header.html" %}
<main>
    {% include "templates/navbar.html" %}
    <div class="central-part">
        <div class="categories">
            <div class="category">
                <h4>Посты</h4>
            </div>
            <div class="category">
                <h4>Статьи</h4>
            </div>
            <div class="category">
                <h4>Блог</h4>
            </div>
        </div>
        <!--<div class="write">
            <form method="post">
            <textarea name="text" id="post-publication-text" placeholder="Напишите про то, что вас беспокоит."></textarea>
            </form>
        </div>-->
        <a href="{% url 'post-create' %}"><div class="create-article">
            <img src="{% static 'images/plus_icon.png' %}">
            <h3>Создать статью</h3>
        </div></a>
        <div class="article-list">
            {% for post in posts %}
            <div class="article">
                <img src="" class="article-image">
                <div class="article-text">
                    <a href={% url 'post-detail' post.id %}><h2  class="article-title">{{ post.title }}</h2></a>
                    <p id="text-content">{{ post.content|truncatechars:90 }}</p>
                    <a href="{% url 'user-posts' post.author.username %}"><div class="author">
                        <img src="{% static 'images/ECO_AVATAR_MAN.svg' %}" class="author-icon">
                        <p class="author-name">{{ post.author }}</a>
                    </div></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="profile-box">
        <img src="{% static 'images/ECO_AVATAR_MAN.svg' %}" class="avatar">
        <div class="name-and-status">
            <h3>{{ user.username }}</h3>
            <p>Бета-тестер (0)</p>
        </div>
        <button class="change-profile">Изменить профиль</button>
        <div id="description">
            <p>
                За зелёный мир!
            </p>
        </div>
    </div>
</main>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Данный раздел в разработке!</h1>
    </div>
</div>
{% endblock content %}