{% extends "templates/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="bg">
    <form class="form" method="post">
        <!--<input type="text" placeholder="Твой никнейм или номер телефона" class="textbox" required/>
        <input type="password" placeholder="Пароль" class="textbox" required/>-->
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <input type="submit" value="Войти" class="button-signin" />
    </form>
    <div class="text">
        <h1>Быстрее заходи на бета-тест!</h1>
        <p>Ещё не зарегистрирован? <a href="{% url 'register' %}">Тогда жми сюда!</a></p>
    </div>
</div>
<div id="bg1">
    <div class="text">
        <h1>Быстрее заходи на бета-тест!</h1>
    </div>
    <form class="form" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <input type="submit" value="Войти" class="button" />
    </form>
    <div class="signin">
        <p>Еще не зарегистрировался? <a href="{% url 'register'%}">Тогда жми сюда!</a></p>
    </div>
</div>
{% endblock content %}